@font-face {
  font-family: 'Poppins';
  src: url('/poppins-v22-latin-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  color: black;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conteiner {
  background-color: black;
  border-radius: 10px;
  padding: 35px;
  text-align: center;
  width: 310px;
  height: 640px;
  max-width: 85%;
  color: white;
  box-shadow: 0px 1px 24px 8px 
  rgba(66, 68, 90, 1);
  
}
  
  h1{
    margin-top: 5px;
  }
  
.profile {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
  margin-top: 10px;
}

.sub-title{
  margin-bottom: 30px;
  font-size: 15px;
  color: white;
}

.link {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8px 10px;
  border-radius: 10px;
  margin: 20px 0;
  text-decoration: none;
  background-color: #F8F8FF;
  cursor: pointer;
}

.copy{
  color: white;
  font-size: 15px;
  margin-top: 30px;
}

a {
  color:#000000;
}
